<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    # Ludovic Ajouter le 06112019
    # Désactiver l'affichage du contenu des répertoires
    	Options All -Indexes
    # Masquer les informations du serveur
    # Chez certains hébergeurs, les pages affichées peuvent contenir des informations
    # relatives au serveur. Ces informations peuvent donner des informations à d’éventuels
    # assaillants.
    	ServerSignature Off
</IfModule>
